@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 62.5em) {
  .container {
    grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns:
      [full-start] minmax(6rem, 1fr) [center-start] repeat(
        8,
        [col-start] minmax(min-content, 14rem) [col-end]
      )
      [center-end] minmax(6rem, 1fr) [full-end];
  }

  .sidebar {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-content: flex-end;
    align-items: center;
  }

  .nav-btn {
    margin-top: 0;
    margin-right: 3rem;
  }

  .nav-btn::before {
    transform: translateY(-1.2rem);
  }

  .nav-btn::after {
    transform: translateY(1rem);
  }
}

@media only screen and (max-width: 50em) {
  .container {
    grid-template-rows: 6rem calc(100vh - 6rem);
  }

  .header {
    grid-column: 1 / -1;
  }

  .realtors {
    grid-column: 1 / -1;
  }

  .realtor__list {
    grid-template-columns: repeat(3, min-content max-content);
  }

  .story__pictures {
    grid-column: 1 / -1;
    padding: 6rem;
  }

  .story__content {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
  }

  .story__img--1 {
    grid-column: 1 / 5;
    grid-row: 1 / -1;
  }

  .story__img--2 {
    width: 100%;
    grid-row: 1 / -1;
  }
}

@media only screen and (max-width: 37.5em) {
  .header {
    padding: 5rem;
  }

  .realtor__list {
    grid-template-columns: min-content max-content;
  }
}
